/* General Styles, Reset */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/* Helpers */

.background {
  background: #1fa2ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #a6ffcb,
    #12d8fa,
    #1fa2ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fullscreen {
  height: calc(100vh - 80px);
}

.container {
  display: flex;
  max-width: 960px;
  width: 100%;
}

/* Typography */

/* Styles */

/* Navbar */
.navbar-wrapper {
  width: 100%;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.top-navbar,
.bottom-navbar {
  display: flex;
}

/* Main */

#main {
  margin-top: 80px;
}
